---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import VehicleGrid from "../components/VehicleGrid.astro";
import ContentSection from "../components/ContentSection.astro";
import Footer from "../components/Footer.astro";
import homeData from "../data/home.json";
---

<Layout>
	<Header {...homeData.header} />

	<main>
		<Hero {...homeData.hero} />

		<VehicleGrid {...homeData.vehicleGrid} />

		{
			homeData.contentSections.map((section, index) => (
				<ContentSection {...section} reverse={index % 2 !== 0} />
			))
		}
	</main>

	<Footer {...homeData.footer} />
</Layout>
