---
import MainLayout from "../../layouts/MainLayout.astro";
import NewCarsHero from "../../components/autosearch/NewCarsHero.astro";
import BodyStyleTabsSection from "../../components/autosearch/BodyStyleTabsSection.astro";
import NewCarsNewsSection from "../../components/autosearch/NewCarsNewsSection.astro";
import RecommendationsSection from "../../components/autosearch/RecommendationsSection.astro";
import AwardsHighlightSection from "../../components/autosearch/AwardsHighlightSection.astro";
import BrowseByBrandSection from "../../components/autosearch/BrowseByBrandSection.astro";
import PopularComparisonsSection from "../../components/autosearch/PopularComparisonsSection.astro";
import DealersSection from "../../components/autosearch/DealersSection.astro";
import ReadyToBuySection from "../../components/autosearch/ReadyToBuySection.astro";
---

<MainLayout title="New Cars, Trucks, SUVs & Electric Cars | Cars.com">
    <main>
        <NewCarsHero />
        <BodyStyleTabsSection />
        <NewCarsNewsSection />
        <RecommendationsSection />
        <AwardsHighlightSection />
        <BrowseByBrandSection />
        <PopularComparisonsSection />
        <DealersSection />
        <ReadyToBuySection />
    </main>
</MainLayout>

