---
import MainLayout from "../../layouts/MainLayout.astro";
import NewsHero from "../../components/autosearch/NewsHero.astro";
import NewsArticlesSection from "../../components/autosearch/NewsArticlesSection.astro";
import VideosSection from "../../components/autosearch/VideosSection.astro";
import RelatedTopicsSection from "../../components/autosearch/RelatedTopicsSection.astro";
---

<MainLayout title="Car News, Reviews & Videos | Cars.com">
    <main>
        <NewsHero />
        <NewsArticlesSection />
        <VideosSection />
        <RelatedTopicsSection />
    </main>
</MainLayout>

