---
import MainLayout from "../../layouts/MainLayout.astro";
import ResearchHero from "../../components/autosearch/ResearchHero.astro";
import ResearchCarsSection from "../../components/autosearch/ResearchCarsSection.astro";
import ResearchByBrandSection from "../../components/autosearch/ResearchByBrandSection.astro";
import BestOfAwardsSection from "../../components/autosearch/BestOfAwardsSection.astro";
import ResearchGuidesNewsSection from "../../components/autosearch/ResearchGuidesNewsSection.astro";
import ToolsExpertAdviceSection from "../../components/autosearch/ToolsExpertAdviceSection.astro";
import PopularCarsDiscontinuedSection from "../../components/autosearch/PopularCarsDiscontinuedSection.astro";
---

<MainLayout title="Car Research - Car Types, Models & Specs | Cars.com">
    <main>
        <ResearchHero />
        <ResearchCarsSection />
        <ResearchByBrandSection />
        <BestOfAwardsSection />
        <ResearchGuidesNewsSection />
        <ToolsExpertAdviceSection />
        <PopularCarsDiscontinuedSection />
    </main>
</MainLayout>

