---
import MainLayout from "../../layouts/MainLayout.astro";
import SellHero from "../../components/autosearch/SellHero.astro";
import ExploreOptionsSection from "../../components/autosearch/ExploreOptionsSection.astro";
import ExpertAdviceSection from "../../components/autosearch/ExpertAdviceSection.astro";
import SellFAQSection from "../../components/autosearch/SellFAQSection.astro";
---

<MainLayout title="Sell My Car for Cash Online | Cars.com">
    <main>
        <SellHero />
        <ExploreOptionsSection />
        <ExpertAdviceSection />
        <SellFAQSection />
    </main>
</MainLayout>

