---
import "./VehicleListSkeleton.css";
import VehicleCardSkeleton from "./VehicleCardSkeleton.astro";

interface Props {
    count?: number;
    wrapper?: boolean;
}

const { count = 6, wrapper = true } = Astro.props;
---

{
    wrapper ? (
        <div class="vehicle-list-skeleton">
            {Array.from({ length: count }).map(() => (
                <VehicleCardSkeleton />
            ))}
        </div>
    ) : (
        <>
            {Array.from({ length: count }).map(() => (
                <VehicleCardSkeleton />
            ))}
        </>
    )
}
