---
import "./VehicleList.css";
import VehicleCard from "./VehicleCard.astro";

await (async () => new Promise((resolve) => setTimeout(resolve, 3000)))();

interface Props {
    vehicles: any[];
    wrapper?: boolean;
}

const { vehicles, wrapper = true } = Astro.props;
---

{
    wrapper ? (
        <div class="vehicle-list">
            {vehicles.map((vehicle) => (
                <VehicleCard vehicle={vehicle} />
            ))}
        </div>
    ) : (
        <>
            {vehicles.map((vehicle) => (
                <VehicleCard vehicle={vehicle} />
            ))}
        </>
    )
}
