---
import "./VehicleCardSkeleton.css";
---

<div class="vehicle-card-skeleton skeleton-pulse">
    <div class="skeleton-image"></div>
    <div class="skeleton-content">
        <div class="skeleton-header">
            <div class="skeleton-line short"></div>
            <div class="skeleton-line medium"></div>
        </div>
        <div class="skeleton-specs">
            <div class="skeleton-spec-item"></div>
            <div class="skeleton-spec-item"></div>
            <div class="skeleton-spec-item"></div>
            <div class="skeleton-spec-item"></div>
        </div>
        <div class="skeleton-actions">
            <div class="skeleton-button"></div>
            <div class="skeleton-button"></div>
        </div>
    </div>
</div>
