---
interface Vehicle {
  model: string;
  available: number;
  image: string;
}

interface Props {
  title: string;
  description: string;
  vehicles: Vehicle[];
}
await new Promise(resolve => setTimeout(resolve, 10000));
console.log("I am rendering the vehicle grid");
const { title, description, vehicles } = Astro.props;
import VehicleGridSections from "./VehicleGridSections.astro";
---

<section class="vehicle-grid-section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">{title}</h2>
      <p class="section-description">{description}</p>
    </div>
    <VehicleGridSections {...{ vehicles: vehicles }} />
   
  </div>
</section>

<style>
    @import "./VehicleGrid.css";
</style>
