---
import MainLayout from "../../../layouts/MainLayout.astro";
import Hero from "../../../components/autosearch/Hero.astro";
import BuyingGuidesSection from "../../../components/autosearch/BuyingGuidesSection.astro";
import PopularSearchesSection from "../../../components/autosearch/PopularSearchesSection.astro";
import NewsSection from "../../../components/autosearch/NewsSection.astro";
import FAQSection from "../../../components/autosearch/FAQSection.astro";
import RelatedTopicsSection from "../../../components/autosearch/RelatedTopicsSection.astro";
import AdvancedSearchWidget from "../../../components/autosearch/AdvancedSearchWidget.astro";
---

<MainLayout title="Shop Cars for Sale | Find New & Used Cars | Cars.com">
    <main>
        <Hero />
        <AdvancedSearchWidget />
        <BuyingGuidesSection />
        <PopularSearchesSection />
        <NewsSection />
        <FAQSection />
        <RelatedTopicsSection />
    </main>
</MainLayout>
